html {
  scroll-behavior: smooth
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.tab a.active {
  color: #00bfa5 !important;
}

.indicator {
  background-color:#00bfa5 !important;
}

#recordResult .select-dropdown {
  text-align: center;
}

td{
  padding-top: 4px;
  padding-bottom: 4px;
}

/* [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
  position: absolute;
  opacity: 1;
  pointer-events: auto;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
